#titulo {
  color: #098a8e;
}

#subtitulo {
  color: blue;
}

strong {
  color: red;
}

a {
  color: red;
}

em {
  color: blue;
}

.especial {
  color: purple;
}

caption {
  color: blue;
}

table {
  border: 2px solid black;
}