#titulo {
  color: #098a8e;
}

#subtitulo {
  color: blue;
}

strong {
  color: red;
}

a {
  color: red;
}

em {
  color: blue;
}

#especial {
  color: rgb(180, 1, 180);
}

caption {
  color: blue;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

.especial {
  color:rgb(255, 255, 34);
}

td{
  color: green;
}

th{
  color: red;
}

