h1 {
    color: #333;
    font-size: 20px;
}

h2 { 
    color: #666;
    font-size: 16px;
}

table {
    color: black;
    font-size: 12px;
    width: 200px;
    border-collapse: collapse;
}

a {
    color: blue;
    font-size: 12px;
}

th { 
    border: 1px solid black;
    color: #fff;
    background-color: #666;
}

td { 
    border: 1px solid black;
    color: #666;
}

tr{
    border: 1px solid black;
}